@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

/* Hide scrollbar for WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.blue-btn {
    @apply bg-[#1877F2] hover:bg-[#2875da] transition-colors py-[13px] text-[16px] text-white flex justify-center items-center w-full rounded-[10px];
}

.error-message {
    @apply text-red-600;
}

@font-face {
    font-family: "Sofa";
    src: url("/src/assets/fonts/sofa.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
